python========================================================3.12.12
accelerate====================================================1.12.0
faiss-cpu======================================================1.13.2
google============================================================3.0.0
google-adk====================================================1.21.0
google-ai-generativelanguage================0.6.15
google-api-core==========================================2.28.1
google-api-python-client========================2.187.0
google-auth==================================================2.45.0
google-auth-httplib2================================0.2.1
google-auth-oauthlib================================1.2.2
google-cloud-aiplatform==========================1.130.0
google-cloud-appengine-logging============1.7.0
google-cloud-audit-log============================0.4.0
google-cloud-bigquery==============================3.38.0
google-cloud-bigquery-connection========1.19.0
google-cloud-bigquery-storage==============2.35.0
google-cloud-bigtable==============================2.34.0
google-cloud-core======================================2.5.0
google-cloud-dataproc==============================5.23.0
google-cloud-datastore============================2.21.0
google-cloud-discoveryengine================0.13.12
google-cloud-firestore============================2.21.0
google-cloud-functions============================1.21.0
google-cloud-language==============================2.18.0
google-cloud-logging================================3.12.1
google-cloud-monitoring==========================2.28.0
google-cloud-resource-manager==============1.15.0
google-cloud-secret-manager==================2.25.0
google-cloud-spanner================================3.60.0
google-cloud-speech==================================2.34.0
google-cloud-storage================================3.7.0
google-cloud-trace====================================1.17.0
google-cloud-translate============================3.23.0
google-colab================================================1.0.0
google-crc32c==============================================1.7.1
google-genai================================================1.56.0
google-generativeai==================================0.8.5
google-pasta================================================0.2.0
google-resumable-media============================2.8.0
googleapis-common-protos========================1.72.0
googledrivedownloader==============================1.1.0
grpc-google-iam-v1====================================0.14.3
keyrings.google-artifactregistry-auth==1.1.2
langchain======================================================1.2.0
langchain-classic======================================1.0.1
langchain-community==================================0.4.1
langchain-core============================================1.2.5
langchain-google-genai============================4.1.2
langchain-huggingface==============================1.2.0
langchain-text-splitters========================1.1.0
numpy==============================================================2.0.2
pillow============================================================11.3.0
pydata-google-auth====================================1.9.1
pyngrok==========================================================7.5.0
pypdf==============================================================6.5.0
sentence-transformers==============================5.2.0
sentencepiece==============================================0.2.1
streamlit======================================================1.52.2
torch==============================================================2.9.0+cpu
torchao==========================================================0.10.0
torchaudio====================================================2.9.0+cpu
torchdata======================================================0.11.0
torchsummary================================================1.5.1
torchtune======================================================0.6.1
torchvision==================================================0.24.0+cpu
transformers================================================4.57.3